@charset "UTF-8";

#header{
	position: fixed;
	overflow: hidden;
	line-height: 50px;
	width:100%;
	z-index: 1;
	background-color: gray;
}

#header-logo{
	float: left;}

img.logo {
	width:50%;
	height: 30%;
	display: table-cell;
	vertical-align: middle;
}

#header-menu {
	overflow: hidden;
	float: right;
}

li.menu {
	list-style:none;
	font-size: 20px;
	margin-right: 20px;
	float: left;
}

#container{
	overflow: hidden;
}

#main {
	padding:50px 0;
	float: left;
	width: 69%;
	margin-left:10px;

}

#master-photo {
	float: left;
}

#item-photo {
	float: left;
}

div.items{
}

div.item{
	width:180px;
	height:250px;
	margin:10px 10px;
	float:left;
	position:relative; 
}

img.itemImg{
	border: 1px gray solid;
	width: 180px;
	height: 120px;
}

a.itemName{
	word-break: break-all;
}

form.toItemDetail{
	position: absolute;
	right: 0;
	bottom: 0;
}

#sidebar {
	float: left;
	width: 30%;
}

.search-form {
	margin: 30px 100px;
}

.cart {
	border-top : 1px gray solid;
	margin: 30px 100px;
}

#footer {
	clear: both;
	height: 50px;
	background-color: gray;
	
}